.main{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%; 
  min-height: 100vh;
 background-image: url('./Backgroundimage.jpg') ; 
 background-repeat: no-repeat;
 background-size: cover;
 justify-content: center;
  }


  /* .slogan2{
  
    display: grid;
    /* place-items: center; */
    /* width: 80vw; */
    /* padding: 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgba(41, 105, 179, 0.8);
    opacity: 10; */
    /* color: rgb(216, 163, 30);
    margin: 4%;
    }  */
  
    

  .slogan{
  display: grid;
  justify-content: center;
  margin-top: 5%;
  width: 50vw;
  padding: 8%;
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2rem;
  opacity: 0.5;

  }


.buttons{

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: space-evenly;
  width: 80vw;
  margin-top: 4%;

  
}


