.main{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15%; 
<<<<<<< HEAD
  background-color: #FFDAB1 ;
  min-height: 100vh;
  
=======
  background-color: #ffdab1;
 
    
>>>>>>> 683d39a07677b7800e9c10771c1cfc55f93dcb26
  }
