.govText{
display: grid;    
/* place-items: left; */
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blue{
    background-color: rgb(59, 112, 182);
    display: grid;
    place-items: center;
    font-size:1rem;
    padding: 5%;
    margin-inline:5%;
    margin-bottom: 2%;

border-radius: 25px;}

.keyButton{
    background-color: rgb(59, 182, 155);
    display: grid;
    place-items: center;
    font-size:1rem;
    max-width: 30%;
    color:white;
    margin-inline: 5%;
border-radius: 25px;
}

.keyButton:hover{
    width:35%;
    box-shadow: black;
    
}

.red{
    background-color: rgb(206, 95, 95);
    display: grid;
    place-items: center;
    font-size:1rem;
    padding: 5%;
    margin-inline:20%;
    margin-bottom: 2%;
border-radius: 25px;}

.rowOne{
    display: grid;
    justify-content: right;
    justify-self: right;
}
.rowTwo{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.orange{
    background-color: rgb(192, 147, 63);
    display: grid;
    place-items: center;
    font-size:1rem;
    padding: 5%;
    margin-bottom: 2%;
    margin:20%;

border-radius: 25px;}

.redRate{
    background-color: rgb(206, 95, 95);
    display: grid;
    place-items: right;
    place-self: right;
    justify-items: right;
    /* padding: 5%; */
border-radius: 25px;

/* height:25px */
}

.greenRate{
    background-color: rgb(66, 190, 103);
    display: grid;
    place-items: center;
    font-size:1rem;
    padding: 5%;
border-radius: 25px;}

.update{
    display: grid;
    font-size: small;
    justify-content: right;
}
.popoverButton{
    display: grid;
    place-items: right;
    /* place-self: right; */
}