.base {
    padding: 0.7em;
    background-color: lightgreen;
    border: 2px solid gray;
    color: var(--secondary-dark);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    box-sizing: border-box;
  }
  
  .base:hover {
    background-color: ghostwhite;
    border: 2px solid lightgreen;
    color: var(--tertiary-light);
  }
  
  .small {
    border: 1px solid transparent;
    background-color: transparent;
    color: lightgreen;
    font-weight: bold;
    padding: 0.4em;
  }
  .small:hover {
    background-color: transparent;
    border: 1px solid lightgreen;
    color: lightgreen;
    color: ghostwhite;
  }
  