
.main{
    overflow: visible;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
      ". ."
      ". .";
  }

.UKpage {
    background-color: blueviolet;
    align-content: center;
}

.flexcontainer{

display: flex;
 justify-content: space-evenly;

} 

.UKMap{
width: 50px; 
height:100px;
justify-content: flex-end;


}

 .HotelWidget{
    
display: flex;
justify-content: flex-end;
align-self: flex-end;
} 

/* .UKRestrictionsDisplay{
display: flex;
justify-content: flex-start;

} */

