.container{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 10%;
    display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";

}
.text{
    padding-top: 4%;
}

.columntwo{
    
    padding: 12% 50%;
}