.container{
    font-family: 'Montserrat', sans-serif;

}

button{
    background-color: #1C9AB0;
}

.headerthree{
    color: #1C9AB0;
}


/* BLUE BOX Styling  */
.blueBox{
    border: 1px solid black ;
    border-radius: 15px;
    padding: 5%;
    background-color: #1C9AB0;
    color: white;
}

.blueBox h4{
        color:white
 
}
.blueBox p{
    color:white

}

.twoColumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}






