/* .accordion {
   
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.6rem;
    transition: 0.4s;
  } */
.item{
  margin-top: -60px;
}
  
  
  /* .active, .accordion:hover {
    background-color: #ccc; 
  } */
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  

  button{
    color:white;
    background-color: #1C9AB0;
    border-radius: 25px;
    
  }

  p{
    color:lightslategray;
  }

  .chakra-accordion__item{
    border-radius: 25px;
  }


  
  