.page{
    padding-top: 10%;
    display: grid;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    
    /* background-color: rgb(219, 167, 36,0.8); */

}

.container{
    justify-items: center;
    display: grid;
    justify-items: auto;
    width:100%;
    background-color: #fff;
    padding-right: 9%;
    padding-left: 9%;
    min-height: 100vh;
    
}

.title{
    padding-left: 9%;
}